@import url('https://fonts.googleapis.com/css2?family=Dosis&family=League+Spartan:wght@600&display=swap');
.navbar{
    /* background-image: linear-gradient(to bottom right,#301ca0,rgba(199, 18, 199, 0.911)); */
    background-color: #0c7a68;
    font-family: 'League Spartan', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 17px;

   
}
.footer{
  font-size: 12px ;
  flex-wrap: 100px;
  background-color: #0c7a68;
  /* background-image: linear-gradient(to bottom right,#301ca0,rgba(199, 18, 199, 0.911)); */

 
}  
.nav-item{
  align-items: center;
}

.logo2{
  border-radius: 80px;
  width: 48px;

}

#jumbotron{
   padding-top: 100px;
    /* background-color: #365486; */
    text-align: center;
    background-image: url('/img/creative.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100vh;
}

/* #jumbotron .container{
   
} */





/* .text span{
    text-transform: uppercase;
    display: block;
} */

#jumbotron2{
  padding-top: 100px;
   /* background-color: #365486; */
   text-align: center;
   background-image: url('/img/langit.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50%;
   position: relative;
   height: 100vh;
}
.banner-text{
    color: rgb(255, 254, 254);
    margin-top: 2rem;
    margin-bottom: 20px;
    font-family: 'League Spartan', sans-serif;
    position: relative;
}

.text1i{
    letter-spacing: 1px;
    margin-bottom: 9px;
    /* animation: text 1550ms 1; */
    font-family: 'League Spartan', sans-serif;
    position: relative;
    padding-top: 10px;
 
}

.text2i{
    color: #cccbcb;
    font-size: 17px;
    font-family: 'League Spartan', sans-serif;

}

#About{
    /* background-color: #7FC7D9; */
    /* margin-top: -90px; */
    background-color: #ffffff;
    padding-bottom: 40px;
    font-family: 'League Spartan', sans-serif;
    background-image: url("http://www.commixturesoft.com/img/shadow3.png");
    background-repeat: no-repeat;
}

.Aboutme{
    padding-top: 2rem;

}

.aboutteks{
    margin-top: 55px;
    color: rgb(73, 73, 73);
    
}



.ppicon{
    box-shadow: 50% black ;
    margin-bottom: 2rem;
    padding-top: 50px;

}

.project{
    max-height: 120px;
    display: flex;
    overflow-x: auto;

}
.project::-webkit-scrollbar{
    width: 0;
}
.project .card{
    min-width: 110px;
    height: 110px;
    text-align: center;
    line-height: 110px;
}








 

/* @keyframes text {
    0%{
        color: #ffffff;
        margin-bottom: -20px;
    }
    30%{
        letter-spacing: 4px;
        margin-bottom: -20px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -20px;
    }
} */

/* index HTML */

.danger {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 160px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border-radius: 5px;
  }
  
.danger:hover {
    background: rgb(255, 255, 255);
    color: rgb(2, 1, 1);
  }




 /* sosial media */
 .wrapper .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
    padding-left: 15px;
    padding-top: 2px;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    right: 10px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
 
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }

  
 
 
  .container1{
    margin-top: 40px;
    
  }

  .container2{
    text-align: center;
  }
  








  /* skill */



  .progressbar-item {
    margin-bottom: 15px;
  }
  
  .progress-bar {
    margin: 0 0 10px;
    overflow: visible;
    background: transparent;
  }
  
  .progress-number {
    padding-bottom: 7px;
    position: relative;
    margin: 5px 0;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: #2e2e2e;
  }
  
  .progress-title {
    z-index: 100;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
  }
  
  .progress-number-mark {
    font-family: var(--progress-font, "Open Sans", sans-serif);
    font-weight: var(--fw-500);
    font-size: var(--fs-16);
    line-height: 1;
    padding: 8px 8px 7px;
    border-radius: 3px;
    color: var(--progress-number-color, #fff);
    margin-bottom: 4px;
    border-radius: 3px;
    background: var(--progress-number-bg, #5f5f5f);
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
  }
  
  .down-arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid var(--progress-number-bg, #5f5f5f);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
  }
  
  .progress-bg {
    height: 6px;
    background: var(--progressbar-bg, #f0f0f0);
    overflow: hidden;
    border-radius: 6px;
  }
  
  .progress-fill {
    height: 6px;
    background: var(--progressbar-fill, linear-gradient(to right, #B464FF 0%, #3C64EB 100%));
    width: 0%;
    border-radius: 6px;
  }





  a {
    /* text-decoration: none; */
    display: inline-block;
    padding: 10px 16px;
    margin-left: 3px;
    margin-right: 3px;
    color: black;
    align-items: center;
  }
  
  a:hover {
    background-color: #d3d3d35e;
    /* border-radius: 20px; */
    color: rgb(255, 255, 255);
    /* padding: 10px; */
  }
  
  .previous {
    background-color: #dadada3d;
    width: 80px;
    padding-top: 13px;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    text-decoration: none;
  }
  
  .previous:hover{
    border-radius: 50px;
    background-color: #fcfcfc71;
  }

  .previou {
    background-color: #ffffffe3;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    margin-top: 6px;
    padding-top: 14px;
    font-size: 23px;
    color: rgb(107, 107, 107);
    border-radius: 50px;
    text-decoration: none;
  }
  
  

.bodys{
  min-height: 100vh;
  display: flexbox;
  align-items: center;
  justify-content: center;
  background-image: url('/img/gunung.png') ;
  background-position: 50%;
  background-size: cover;
  padding-top: 40px;
  
}

.skills{
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background: #0c7a6834;
 
  /* padding: 20px ; */
  border-radius: 20px;
  margin: 10px;
  margin-top: 40;
}
.skills2{
  width: 100%;
  /* max-width: 1000px; */
  padding: 20px;
  background: #0c7a6834;
  
  /* padding: 20px ; */
  border-radius: 20px;
  /* margin: 10px; */
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.skill-name{
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  /* text-transform: uppercase; */
  /* margin: 20px 0; */
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'League Spartan', sans-serif;

}

.skill-bar{
  height: 14px;
  background: #dadada52;
  border-radius: 5px;
  cursor: pointer;
}

.skill-per{
  height: 14px;
  background: #ffffff;
  border-radius: 4px;
  position: relative;
  animation: fillBars 3.5s 1;

}


.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #ddd;
  border-radius: 5px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
  opacity: 0;
  transition: opacity 0.29s ease;
}

.skill-per::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ddd;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.29s ease;
}

.skill-bar:hover .skill-per::before {
  top: -35px;
  visibility: visible;
  opacity: 1;
}

.skill-bar:hover .skill-per::after {
  top: -16px;
  visibility: visible;
  opacity: 1;
}


@keyframes fillBars{
  from{
    width: 0;

  }
  to{
    width: 100%;
  }
}

.gambar{
  margin: 20px;
}









@media screen and (max-width: 720px) {
  
    .aboutteks{ 
        text-align: center;
        margin-top: 12px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: smaller;
        color: #424242a1;
    }
    .text2p{
      color: #6d6d6d;
    }
    .ppicon{
      padding-top: 20px;
    }
    .row22{
        width: 60%;
        margin-top: 200px;
    }

    
    
    .sosialmedia{
      text-align: center;
      padding-top: 20px;
      
  }

  



  .wrapper{
      text-align: center;
  }

  .wrapper .icon{
      text-align: center;
      padding-left:  17pxx;
      padding-right: 17px;
      margin-top: 9px;

  }

  .skills{
    width: 90%;

    /* padding: 20px; */
    background: #0c7a6834;
    /* padding: 20px ; */
    border-radius: 20px;
    /* margin: 10px; */
    margin-left: 20px;
    margin-right: 20px;
    
  }
  .skills2{
    width: 90%;
    /* max-width: 1000px; */
    /* padding: 20px; */
    background: #0c7a6834;
    
    border-radius: 20px;
    /* margin: 10px; */
    margin-bottom: 40px;
   
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer{
      margin-top: 63px;
      font-size: 11px ;
      
  }

  /* .swiper{
    padding-left: 20px;
    padding-right: 20px;
  } */

  
  .swiper-slide img {
    display: block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  .swiper-pagination{
    padding-bottom: 15px;
    
   
  }
  .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    text-align: center;
    
    color: #000;
    opacity: 1;
    background: #ffffff50;
    
   
  }
  .swiper-pagination-bullet-active{
    color: #ffffff;
    background: #ffffff;
    
   
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 30px;
    /* height: 80px; */
    
  }
  

  

  .navbar{
    padding-top: 17px;
    padding-bottom: 17px;
  }



  .bodyp {
    background-image: url('/img/gunung.png');
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #160e0e;
    margin: 0;
    padding: 0;
    position: flex;
    height: 80vh;
    background-position: 50%;
  }

  


  
  

  

  

  

    /* ul{
    position:relative;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
    } */
 }








.bodyp {
  background-image: url('/img/gunung.png');
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #160e0e;
  margin: 0;
  padding: 0;
  position: flex;
  height: 90vh;
  background-position: 50%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  
 
}

.swiper-pagination{
  padding-bottom: 12px;
 

}
.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  text-align: center;
  
  color: #000;
  opacity: 1;
  background: #ffffff50;
  
 
}
.swiper-pagination-bullet-active{
  color: #ffffff;
  background: #ffffff;
  
 
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 380px;
  height: 380px;
  margin-bottom: 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}







