.jumbotron{
   padding-top: 1rem;
    background-color:rgb(190, 190, 190); 


}
.project{
    max-height: 120px;
    display: flex;
    overflow-x: auto;

}
.project::-webkit-scrollbar{
    width: 0;
}
.project .card{
    min-width: 110px;
    height: 110px;
    text-align: center;
    line-height: 110px;
}